<div id="content">
<div id="todo">
	{% if info %}
		<h2>{{ info }}</h2>
	{% endif %}
	<script>
			var edit_event_group = $("#edit-event-group");
			var active_event_group = $("#id_event_group :selected");
			var active_id = active_event_group.val();
			var href = edit_event_group.attr("href");
			href = href + active_id + "/"
			//edit_event_group.attr("href", href);
			console.log("active_event_group ", active_id);
			
			day_from_session = $.cookie('last_calendar_day');
			console.log("day_from_session " + day_from_session);
	
			/*if (typeof day_from_session != "undefined" && day_from_session != "Invalid Date") {
				day_from_session = new Date(day_from_session)
				console.log("setting day from session", day_from_session);
				var day = (day_from_session.getDate() < 10) ? "0" : "";
				day = day + day_from_session.getDate();
				var month = parseInt(day_from_session.getMonth()) + 1;//(parseInt(day_from_session.getMonth()) < 10) ? "0" : "";
				//month = month + day_from_session.getDay();
				month = (parseInt(month) < 10) ? "0" + month : month;
				year = day_from_session.getFullYear();
				console.log("month " + month);
				console.log("day " + day);
				console.log("year " + year);
				$("#id_date").val(day + "." + month + "." + year)
				
				console.log("curr day");
			}*/
	
			var fields = ["id_priority", "id_category", "id_text"];
			var form = $("#todo-form");
			form.submit(function( event ) {
				var form_valid = true;
				$.each(fields, function(key, id) {
					var elem = $("#" + id);
	
					if (typeof elem.val() != "undefined" && elem.val() != "" && elem.val() != " ") {
						console.log("valid!");
						console.log("value = " , elem.val());
						elem.css("border", "none");
					}
					else {
						console.log("invalid");
						elem.css("border", "5px solid red");
						form_valid = false;
					}
				});
				if (form_valid == false) {
					event.preventDefault();
				}
	
			});
	</script>
	<form id="todo-form" action="./" data-default-action="{{ request.get_full_path }}" method="post">
		{% csrf_token %}
	
	
		{{ form.non_field_errors }}
		<div class="form-field" >
			{{ form.text.errors }}
			<label for="id_text">Text</label>
			{{ form.text }}
		</div>
		<div class="form-field">
			{{ form.category.errors }}
			<label for="id_category">Kategorie:</label>
			{{ form.category }}
		</div>
		<div class="form-field">
			{{ form.priority.errors }}
			<label for="id_priority">Priorität:</label>
			{{ form.priority }}
		</div>
		<div class="form-field">
			{{ form.event.errors }}
			<label for="id_event">Stunde:</label>
			{{ form.event }}
		</div>
	
		<div class="form-field">
			<div class="search">
				<input class="trigger-search" type="text" value="Suche" style="padding: 3px;" />
				<div class="search-results"></div>
				<div class="search-values">
					{% for instance in form.users.field.queryset %}
						<div data-cat="employee" data-id="{{ instance.pk }}" draggable="true" class="search-value user button">
						<span class="text">{{ instance.first_name }} {{ instance.last_name }}</span>
						</div>
					{% endfor %}
				</div>
				<div class="users-list">
	
				</div>
			</div>
			<script>
// 					function search_users() {
// 						var user_list = $(".users-list");
// 						var select_users = $("select#id_users").find("option");
// 						console.log($(".search-value.user.button"));				
// 						$(".search-value.user.button").click(function() {
// 							console.log("clicked ", this);
// 							var clickedUser = $(this);
// 							var id = clickedUser.data("id");
							
// 							$.each(select_users, function(key, option) {
// 								option = $(option);
// 								var value = option.val();
	
// 								if (value == id) {
// 									if (option.is(':selected')) {
// 										option.attr('selected', false);
// 										user_list.html("<b>Schüler " + option.text() + " entfernt!</b>");
// 									}
// 									else {
// 										option.attr('selected', true);
// 										user_list.html("<b>Schüler " + option.text() + " hinzugefügt!</b>");
// 									}
// 								}
// 							});
// 						});
// 					}
// 				$(document).ready(function() {
					
// 				});
			</script>
		</div>
		<div class="form-field">
			{{ form.users.errors }}
			<label for="id_users">Schüler:</label>
			<div>
			{{form.users}}
			</div>
	
		</div>
	
		<div class="form-field">
			{{ form.done.errors }}
			<label for="id_done">Erledigt:</label>
			{{ form.done }}
		</div>
		<p><input class="button" type="submit" value="Absenden" /></p>
	</form>
</div>
</div>