<h1>ZEITEN VERWALTEN</h1>
<h3>Bitte klicken Sie auf das Zeit, die Sie bearbeiten möchten.</h3>
<div class="lb-content">
	<div class="button">45 min</div>
	<div class="button">30 min</div>
	<div class="button">70 min</div>
</div>

<h1>UNTERICHTSARTEN VERWALTEN</h1>
<h3>Bitte klicken Sie auf das Unterrichtsform, die Sie bearbeiten möchten.</h3>
<div class="lb-content">
	<div class="button">Einzeluntericht</div>
	<div class="button">Gruppenuntericht</div>
	<div class="button">Vermietung</div>
</div>
