<div class="header">
	<h1>PERSONEN VERWALTEN</h1>
	<h3>Bitte klicken Sie auf die Person, die Sie bearbeiten möchten.</h3>
</div>
<div class="lb-content">
				<div class="buttons">
					<div class="button"> + </div>
					<div style="height: 30px;"></div>
					<div class="button" data-show="member-registration">Hr A</div>
					<div class="button">Hr B</div>
					<div class="button">Fr C</div>
					<div class="button">Hr C</div>
					<div class="button">Fr E</div>
					<div class="button">Hr G</div>
					<div class="button">Fr U</div>
					<div class="button">Hr P</div>
					<div class="button">Fr Z</div>
				</div>
				<div class="member-registration" style="display: none;">
					<form method="post" id="member-registration-form" class="form">
						<dl>
							<dt><label for"test" >Vertragsnummer</label></dt>
							<dd><input type="text" id="user_citiy" name="user_citiy" /></dd>
							<dt><label for="user_lastname">Nachname:</label></dt>
							<dd><input type="text" id="user_lastname" name="user_latsname" /></dd>
							<dt><label for="user_firstname">Vorname: </label></dt>
							<dd><input type="text" id="user_firstname" name="user_firstname" /></dd>
							<dt><label for="user_street">Adresse:</label></dt>
							<dd><input type="text" id="user_street" name="user_street" /></dd>
							<dt><label for="user_zip">PLZ:</label></dt>
							<dd><input type="text" id="user_zip" name="user_zip" /></dd>
							<dt><label for="user_city">Stadt</label></dt>
							<dd><input type="text" id="user_citiy" name="user_citiy" /></dd>
							<dt><label for="user_city">Telefon</label></dt>
							<dd><input type="text" id="user_citiy" name="user_citiy" /></dd>
							<dt><label for="user_city">Mobil</label></dt>
							<dd><input type="text" id="user_citiy" name="user_citiy" /></dd>
							<dt><label for="user_city">E-Mail Schüler</label></dt>
							<dd><input type="text" id="user_citiy" name="user_citiy" /></dd>
							<dt><label for="user_city">E-Mail Eltern</label></dt>
							<dd><input type="text" id="user_citiy" name="user_citiy" /></dd>
							<dt></dt>
							<dd></dd>
							<dt><label for"test">Kategorie</label></dt>
							<dd>Lehrer<input type="checkbox" value="test"/ id="test">Schüler<input type="checkbox" value="test"/ id="test">Sonstige<input type="checkbox" value="test"/ id="test"></dd>
							<dt></dt>
							<dd></dd>
							<dt></dt>
							<dd><input type="submit" class="button submit" value="Speichern"></dd>
							<dt></dt>
							<dd></dd>
							<dt>Fächer</dt>
							<dd></dd>
							<dt></dt>
							<dd></dd>
							<dt></dt>
							<dd></dd>
							<dt></dt>
							<dd>
								<h3>Schultyp</h3>
								<label for"test" class="button select">Grundschule</label><input type="checkbox" value="test"/ id="test">
								<label for"test" class="button select">Hauptschule</label><input type="checkbox" value="test"/ id="test">
								<label for"test" class="button select">Gymnasium</label><input type="checkbox" value="test"/ id="test">
								<label for"test" class="button select">Berufsschule</label><input type="checkbox" value="test"/ id="test">
							</dd>
							<dt></dt>
							<dd>
								<h3>Fach</h3>
								<label for"test" class="button select">Mathe</label><input type="checkbox" value="test"/ id="test">
								<label for"test" class="button select">Englisch</label><input type="checkbox" value="test"/ id="test">
								<label for"test" class="button select">Deutsch</label><input type="checkbox" value="test"/ id="test">
								<label for"test" class="button select">Französisch</label><input type="checkbox" value="test"/ id="test">
							</dd>
							<dt></dt>
							<dd></dd>
						</dl>
					</form>
				</div>
</div>
