		
				<div id="new-event">
					<div><h1>Neuen Termin anlegen</h1></div>
					<form method="post" id="new-event-form" class="form">
						<dl>
							<dt><label for="event-title">Fach:</label></dt>
							<dd>
								<label for="event-type-single"><span class="button">Mathe</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">Englisch</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
								<label for="event-type-serie"><span class="button">Deutsch</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
								<label for="event-type-serie"><span class="button">Physik</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
								<label for="event-type-serie"><span class="button">Chemie</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
								<label for="event-type-serie"><span class="button">Französisch</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							<dt>Typ:</dt>
							<dd>
								<label for="event-type-single"><span class="button">Einzel</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">Serie</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							<dt>Dauer</dt>
							<dd>
								<label for="event-type-single"><span class="button">45 min</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">90 min</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							<dt></dt>
							<dd></dd>
							<dt></dt>
							<dd></dd>
							<dt><strong>Lehrkraft</strong></dt>
							<dd>Hr. Lauber</dd>
							<dt>Termin verschieben auf</dt>
							<dd>
								<input type="text" id="termin-verschieben" />
							</dd>
							<dt></dt>
							<dd></dd>
							<dt></dt>
							<dd></dd>
							<dt><strong>Schüler</strong></dt>
							<dd>Hans Albert</dd>
							<dt>Nimmt teil</dt>
							<dd>
								<label for="event-type-single"><span class="button">Ja</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">Nein</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							<dt class="four-col-height">Dokumentation</dt>
							<dd class="four-col-height"><input type="text" id="dokumentation" /></dd>
							<dt class="four-col"></dt>
							<dd class="four-col">
								Konzentration
								<label for="event-type-single"><span class="button">-</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">0</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
								<label for="event-type-serie"><span class="button">+</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							<dt class="four-col"></dt>
							<dd class="four-col">
								Fortschritt
								<label for="event-type-single"><span class="button">-</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">0</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
								<label for="event-type-serie"><span class="button">+</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							<dt class="four-col"></dt>
							<dd class="four-col">
								Motivation
								<label for="event-type-single"><span class="button">-</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">0</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
								<label for="event-type-serie"><span class="button">+</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							
							<dt><strong>Schüler</strong></dt>
							<dd>Hans Albert</dd>
							<dt>Nimmt teil</dt>
							<dd>
								<label for="event-type-single"><span class="button">Ja</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">Nein</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							<dt class="four-col-height">Dokumentation</dt>
							<dd class="four-col-height"><input type="text" id="dokumentation" /></dd>
							<dt class="four-col"></dt>
							<dd class="four-col">
								Konzentration
								<label for="event-type-single"><span class="button">-</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">0</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
								<label for="event-type-serie"><span class="button">+</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							<dt class="four-col"></dt>
							<dd class="four-col">
								Fortschritt
								<label for="event-type-single"><span class="button">-</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">0</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
								<label for="event-type-serie"><span class="button">+</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							<dt class="four-col"></dt>
							<dd class="four-col">
								Motivation
								<label for="event-type-single"><span class="button">-</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">0</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
								<label for="event-type-serie"><span class="button">+</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							
							
							
							<dt><strong>Schüler</strong></dt>
							<dd>Hans Albert</dd>
							<dt>Nimmt teil</dt>
							<dd>
								<label for="event-type-single"><span class="button">Ja</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">Nein</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							<dt class="four-col-height">Dokumentation</dt>
							<dd class="four-col-height"><input type="text" id="dokumentation" /></dd>
							<dt class="four-col"></dt>
							<dd class="four-col">
								Konzentration
								<label for="event-type-single"><span class="button">-</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">0</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
								<label for="event-type-serie"><span class="button">+</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							<dt class="four-col"></dt>
							<dd class="four-col">
								Fortschritt
								<label for="event-type-single"><span class="button">-</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">0</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
								<label for="event-type-serie"><span class="button">+</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							<dt class="four-col"></dt>
							<dd class="four-col">
								Motivation
								<label for="event-type-single"><span class="button">-</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">0</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
								<label for="event-type-serie"><span class="button">+</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							
							
							<dt><strong>Schüler</strong></dt>
							<dd>Hans Albert</dd>
							<dt>Nimmt teil</dt>
							<dd>
								<label for="event-type-single"><span class="button">Ja</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">Nein</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							<dt class="four-col-height">Dokumentation</dt>
							<dd class="four-col-height"><input type="text" id="dokumentation" /></dd>
							<dt class="four-col"></dt>
							<dd class="four-col">
								Konzentration
								<label for="event-type-single"><span class="button">-</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">0</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
								<label for="event-type-serie"><span class="button">+</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							<dt class="four-col"></dt>
							<dd class="four-col">
								Fortschritt
								<label for="event-type-single"><span class="button">-</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">0</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
								<label for="event-type-serie"><span class="button">+</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							<dt class="four-col"></dt>
							<dd class="four-col">
								Motivation
								<label for="event-type-single"><span class="button">-</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">0</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
								<label for="event-type-serie"><span class="button">+</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							
							
							<dt></dt><dd></dd>
							<dt></dt>
							<dd></dd>
							<dt><input class="button submit" type="submit" value="Anlegen"></dt>
							<dd style="width: 35%;">
								<input class="button submit" type="submit" value="Löschen" style="background: red;">
							</dd>
							<dt></dt>
							<dd></dd>
						</dl>
						
						<div class="clear"> </div>
						
						<br /><br />
						<div class="line"></div>
						<br />
						<dl>
							<dt>Zielgruppe</dt>
							<dd>
								<label for="event-type-single"><span class="button">Alle</span></label>
								<input type="radio" id="event-type-single" name="event-type" />
								<label for="event-type-serie"><span class="button">Lehrer</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
								<label for="event-type-serie"><span class="button">Schüler</span></label>
								<input type="radio" id="event-type-serie" name="event-type" />
							</dd>
							<dt></dt>
							<dd></dd>
							<dt><textarea></textarea></dt>
							<dd></dd>
							<dt></dt>
							<dd></dd>
							<dt></dt>
							<dd></dd>
							<dt></dt>
							<dd></dd>
							<dt><input class="button submit" type="submit" value="Absenden"></dt>
							<dd></dd>
						</dl>
					</form>
				</div>
